<% if @players == [] %>
<p> There are no players yet <p/>
<% else %>
<% @players.each do |player| %>
<p>Player nickname is <%= player.nickname %><br/>
Player rank is <%= player.rank %><br/>
Player charisma is <%= player.charisma %><br/>
Player wisdom is <%= player.wisdom %><br/>
<%= link_to "Show more", player_path(player.id) %></p>
<% end %>
<% end %>
<%= link_to "Create new player", new_player_path %>