<p> Player nickname is <%= @player.nickname %><br/>
Player rank is <%= @player.rank %><br/>
Player charisma is <%= @player.charisma %><br/>
Player wisdom is <%= @player.wisdom %><br/>
<%= link_to "Edit player", edit_player_path(@player.id) %><br/>
<%= link_to "Destroy player", player_path(@player.id), method: :delete, data: {confirm: "Are you sure?"} %></p>